body {
    margin: 0px;
    position: relative;

}

/* BACKGROUND */
#background {
	position: fixed;
    width: 100%;
    height: 600px;
    top: 0px;
}

#background-thumbnail {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#background-thumbnail img {
	width: 100%;
}

#background-overlay {
	width: 100%;
	height: 600px;
	position: absolute;
	top: 0px;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, .6) 100%, rgba(0, 0, 0, 0.76) 100%);

}

#content {
    position: relative;
    top: 450px;
}


/* NAVIGATION */

#nav {
    background: rgba(40, 160, 200, .8);
    color: white;
    width: 100%;
    z-index: 4;
}

.container {
    width: 960px;
    margin: 0px auto;
    font-family: Poiret One;
}

#nav .container {
    padding: 18px 0px;
}

#nav-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6px;
    float: left;
    line-height: 24px;
}

#nav-item-container {
    float: right;
}

.clear {
    clear: both;
}

.nav-item {
    float: left;
    font-size: 15px;
    line-height: 24px;
    margin-left: 36px;
    font-weight: 300;
}

.nav-item:hover {
    cursor: pointer; cursor: hand;

}

.sticky {
    position: fixed;
    top: 0px;
}

/* HEADER */


#Oakland {
    font-family: 'Montez', cursive;
	font-size: 150px;
	color: white;
    text-shadow: 2px 2px #000000;
	position: absolute;
    top: calc(50%-300px);
    right: calc(50% - 180px);
}


#circle-container {
	position: absolute;
	top: 200px;
	left: calc(50% - 460px);
	width: 100%;

}

#circle img {
	position: relative;
	float: left;
	background: white;
	height: 200px;
	width: 200px;
	margin-right: 150px;
    border-radius: 50%;
    border: 2px solid rgba(200, 200, 200, .2);

}


/* CONTENT */

.page-wrapper {
    width: 100%;
    z-index: 3;
}

.timeline {
    position: relative;
}

#line {
    position: absolute;
    left: calc(50%);
    background-color: #E3E7E8;
    width: 3px;
    margin-top: 180px;
    height: 100%;
    z-index: 2;

}

.pointer {
    position: absolute;
    top: 200px;
    left: 560px;
    height: 3px;
    width: 80px;
    background-color: #E3E7E8;
}

.pointer2 {
    position: absolute;
    top: 430px;
    left: 640px;
    height: 3px;
    width: 80px;
    background-color: #E3E7E8;
}


.box {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 470px;
    padding: 30px;
    background-color: white;
    border-bottom: 2px rgba(40, 160, 200, .6) solid;
    border-radius: 5px;
}

.title {
    color: #212121;
    color: rgba(0, 0, 0, .8);
    font-size: 50px;
}

.text {

    font-size: 20px;
    color: rgba(0, 0, 0, .6);    
    width: 470px;

}

.section {
    position: relative;
    width: 100%;
    height: 650px;
    margin: auto;

    font-family:'Dosis', sans-serif;
    font-weight: 100;
    color: white;

    background-image: url("../img/gray.jpg");
    background-repeat: repeat;
}

.section-bg {
    position: absolute;
    top: 250px;
    right: 0px;
    width: 520px;
    height: 380px
}

.img img{
    width: 100%;
    height: 100%;
    float: right;
    border-radius: 5px;

}

.img-overlay {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

/* DESTINATION */

#destination-section {
    position: relative;
    width: 100%;
    height: 130px;
    background-color:  #f1f2f2;

}

#destination-text {
    font-size: 50px;
    color: #212121;
    position: absolute;
    top: 30px;
    left: calc(50% - 120px);
    width: 100%;

}

#subdest-text {
    color: #212121;
    position: absolute;
    left: calc(50% - 165px);
    width: 100%;
    top: 95px;
    opacity: 0.5;

}


#place-text {
    font-size: 200px;
}


/* COMMUNITY */

#community-section {
    position: absolute;
    width: 100%;
    height: 750px;
    margin: auto;
    z-index: 3;
}

#community-title {
    font-size: 50px;
    color: #212121;
    position: absolute;
    top: 50px;
    left: calc(50% - 120px);
    width: 100%;
}


#community-box {
    position: absolute;
    top: 150px;
    width: 100%;
    height: 600px;
    margin-left: 90px;
}


#community-text {
    width: 500px;
}


.profile img{
    height: 400px;
    padding: 3px;
    margin: auto;
    float: left;
    border-radius: 5px;

}


/* CONTACT */

#contact-section {
    clear: left;
    width: 100%;
    height: 350px;
    z-index: 3;
}

#contact-title {
    font-size: 50px;
    color: #212121;
    position: absolute;
    top: 50px;
    left: calc(50% - 120px);
}


#contact-box {
    width: 100%;
    height: 600px;
    margin-left: 90px;
}


#contact-text {
}